html { 
    background: url(file:///Users/yo/Desktop/Bus%20system%20web/banco-de-espana-metro-station-at-plaza-de-cibeles-in-madrid-spain-CWCDF8.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }