<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-with,initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="call-azure-api.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="style.css"> 
    <title> Bus Ticket System </title>
    <script src="js/jquery3.1.0.min.js"></script>


</head>
<body style="background-color: lightgrey;">
    <div id="app">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <img src="./logo .jpeg" width="300" height="80" alt=""> 
                <div class="d-none d-xl-flex align-items-center">
                    <p class="fw-bold text-primary m-0">Login</p>
                    <input type="text" placeholder="ENGLISH (UK)" class="form-control mx-2">
                    <div class="btn btn-outline-primary fw-bold">Login</div>
                </div>
            </div>
            <div>
                <div class="btn btn-dark fw-bold">Main Menu</div>
                <div class="btn btn-primary fw-bold">Prices</div>
                <div class="btn btn-primary fw-bold">Help</div>
            </div>
        </div>
    <div> 
        <table class="table table-hover table-borrdered table-striped" style="width:100%">
            <thead> 
              <tr>
                <th scope="col">Line 1 </th>
                <th scope="row">Stops</th>
                <th scope="row">Duration</th>
                <th scope="col">Line 2 </th>
                <th scope="row">Stops</th>
                <th scope="row">Duration</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Sol</td>
                <td> 0 min</td>
                <td>1</td>
                <td>Batan</td>
                <td>0 min</td>
            <tr>
                <th scope="row">2</th>
                <td>Gran Via</td>
                <td>3 min</td>
                <td>2</td>
                <td>Lago</td>
                <td>2 min</td>
            <tr>
                 <th scope="row">3</th>
                 <td>Tribunal</td>
                 <td>3 min</td>
                 <td>3</td>
                 <td>Plaza de España</td>
                 <td>2 min</td>
            <tr>
                <th scope="row">4</th>
                <td>Bilbao</td>
                <td>5 min</td>
                <td>4</td>
                <td>Tribunal</td>
                <td>1 min</td>
            <tr>
                <th scope="row">5</th>
                <td>Iglesia</td>
                <td>3 min</td>
                <td>5</td>
                <td>Alonso Martinez</td>
                <td>4 min</td>
            <tr>
                <th scope="row">6</th>
                <td>Tirso de Molina</td>
                <td>4 min</td>
                <td>6</td>
                <td>Gregorio Maranon</td>
                <td>5 min</td>
           </tr>
            </tbody>
          </table>
        </table>
    </div>
        <div class="position-relative">
            <img src="Madrid-_Puerta_del_Sol_-_51454839271.jpeg" alt="" class="img-flui d-none d-xl-block" width="1450" height="800">
            <div class="d-none d-xl-block position-absolute start-50 top-50 translate-middle">
                <div class="rounded p-3 bg-cp" style="margin-bottom: 10%;">
                    <div class="d-flex align-items-center">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label fw-bold fs-7" for="flexRadioDefault1">
                            Return 
                            </label>
                        </div>
                        <div class="form-check mx-2">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label fw-bold fs-7" for="flexRadioDefault2">
                            One Way 
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                            <label class="form-check-label fw-bold fs-7" for="flexRadioDefault2">
                            Double Trip
                            </label>
                        </div>
                    </div>
                    <div class= "d-flex align-items-center py-2">
                        <div>
                            <label for="exampleDataList" class="form-label fw-bold fs-8 m-0"> Choose the line </label>
                                <select class="form-select inp-height inp-width" aria-label="exampleDataList" v-model="lineBusStop">
                                    <option value="Line 1"> Line 1  </option>
                                    <option value="Line 2"> Line 2 </option>        
                                </select>
                                            </div>
                                            <div>
                                                <label for="exampleDataList1" class="form-label fw-bold fs-8 m-0">From</label>
                                                    <select class="form-select inp-height inp-width" aria-label="exampleDataList1" v-model="fromBusStop">
                                                        <option value="Tirso de Molina">Sol</option>
                                                        <option value="Gregorio Maranon">Gran Via</option>
                                                        <option value="Gregorio Maranon">Tribunal</option>
                                                        <option value="Gregorio Maranon">Bilbao</option>
                                                        <option value="Gregorio Maranon">Iglesia</option>
                                                        <option value="Gregorio Maranon">Tirso de Molina</option>
                                                    </select>
                                                </div>
                                            <div>
                                                <label for="exampleDataList2" class="form-label fw-bold fs-8 m-0">To</label>
                                                    <select class="form-select inp-height inp-width" aria-label="exampleDataList2" v-model="toBusStop">
                                                        <option value="Tirso de Molina">Sol</option>
                                                        <option value="Gregorio Maranon">Gran Via</option>
                                                        <option value="Gregorio Maranon">Tribunal</option>
                                                        <option value="Gregorio Maranon">Bilbao</option>
                                                        <option value="Gregorio Maranon">Iglesia</option>
                                                        <option value="Gregorio Maranon">Tirso de Molina</option>
                                                    </select>
                                                </div>
                                            <div>
                                                <label for="" class="fw-bold fs-8">Departure time</label>
                                                <input type="time" name="" id="" class="form-control inp-height">
                                            </div>
                                            <div>
                                                <label for="" class="fw-bold fs-8">Arrival time</label>
                                                <input type="time" name="" id="" class="form-control inp-height">
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="select">
                                                <select id="prices" onchange="changeddl(this)">
                                                    <option>Best Prices</option>
                                                    <option value="150"> 0.5€ ticket</option>
                                                    <option value="200"> 1€ ticket</option>
                                                    <option value="300"> 1.5€ ticket</option>
                                                    <option value="400"> 2€ ticket</option>
                                                  </select>   
                                            </div>
                                            <button onclick="myFunction()">Book ticket </button>
                                            <script>
                                                function myFunction() {
                                                  alert("THANKS, YOUR TICKET IS BOOKED !!");
                                                }
                                                </script>
                                        </div>
                                    </div>
                                </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>

<script type="module">
    import { createApp } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js'

    createApp({
        data() {
            return {
                busStopList: ["Sol", "Gran Via", "Tribunal", "Bilbao", "Igelsia", "Tirso de molina"],
                fromBusStop: "",
                lineBusStop: "",
                toBusStop: "",
                departureTime: "",
                busStop: ""
        }
      },
      methods: {
        apiCall(){
            axios.get("https://httpbin.org/get")
                .then(function(response){
                    console.log(response)
                })
        }
      }
    }).mount('#app')
  </script>

<style>
    .bg-cp{
        background-color: #d3d6db; 
    }
    .fs-7{
        font-size: 15px;
    }
    .fs-8{
        font-size: 13px;
    }
    .inp-width{
        width: 240px;
    }
    .inp-height{
        height: 52px;
    }
</style>